services:
  postgres:
    image: postgres:16.9-alpine3.20
    environment:
      POSTGRES_DB: crylendar
      POSTGRES_USER: crylendar
      POSTGRES_PASSWORD: crylendar
    networks:
      - caddy
    volumes:
      - /home/crylendar/data/crylendar/data:/var/lib/postgresql/data
    deploy:
      replicas: 1
      restart_policy:
        delay: 1s
        window: 120s

networks:
  caddy:
    external: true
